<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Certification Form</title>
</head>

<body>
  <h1>Student Submitted</h1>
  <a href = "/">Click here to go back to form</a>
</body>

</html>
