<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8"  />
    <title>Certification Form</title>
    <link rel="stylesheet" href="css/web.css">
  	<script src="js/snap.svg-min.js"></script>
    <script src="js/jquery-3.2.1.js" type="text/javascript"></script>
    <script src="js/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script>
      jQuery(function($){
          $('.date').mask("99/99/9999", {placeholder: "MM/DD/YYYY"});
          $(".license").mask("a9999-99999-99999");
      });
    </script>
  </head>

  <body>
    <div class = "container">
      <form id = "certifyForm" method = "post" action="certify">
        <h1>Student Certification Form</h1>
        First Name: <input type = "text" name = "firstName" id = "firstName" placeholder = "First Name" autofocus required/><br />
        Last Name: <input type = "text" name = "lastName" id = "lastName" placeholder="Last Name" required/><br />
        Middle Name (Optional): <input type = "text" name = "middleName" id = "middleName" placeholder="Middle Name"/><br />
        Driver's License: <input type = "text" name = "driverNum" class = "license" placeholder="x0000-00000-00000" required/><br />
        In-Car Start Date: <input type = "text" name = "inCarStart" class ="date" placeholder="MM/DD/YYYY" required /><br />
        In-Car End Date: <input type = "text" name = "inCarEnd" class ="date" placeholder="MM/DD/YYYY" required/><br />
        In-Class Start Date: <input type = "text" name = "inClassStart" class ="date" placeholder="MM/DD/YYYY" required/><br />
        In-Class End Date: <input type = "text" name = "inClassEnd" class ="date" placeholder="MM/DD/YYYY" required/><br />
        In-Car Final Mark (%): <input type = "number" name = "inCarMark" placeholder="%"  min = "70" max="100" required/><br />
        In-Class Final Mark (%): <input type = "number" name = "inClassMark" placeholder="%"  min = "70" max= "100" required/><br />
        Please ensure all information entered above are correct: <input type="checkbox" required /><br />
        <button type = "submit" class = "myButton" name = "button" action ="Verified">Submit</button>
      </form>
    </div>
  </body>
</html>
