<!DOCTYPE html>
<html>

<head>
    <title>Certification Form</title>
    <link rel="stylesheet" href="web.css">
</head>

<body>
  <form id = "certifyForm" method = "get">
    First Name: <input type = "text" name = "firstName" id = "firstName"/><br />
    Last Name: <input type = "text" name = "lastName" id = "lastName"/><br />
    Driver's License: <input type = "text" name = "driverNum" /><br />
    In-Car Start Date: <input type = "text" name = "inCarStart" /><br />
    In-Car End Date: <input type = "text" name = "inCarEnd" /><br />
    In-Class Start Date: <input type = "text" name = "inClassStart" /><br />
    In-Class End Date: <input type = "text" name = "inClassEnd" /><br />
    In-Car Final Mark: <input type = "text" name = "inCarMark" /><br />
    In-Class Final Mark: <input type = "text" name = "inClassMark" /><br />
    <button type = "submit" name = "button">Submit</button>
  </form>
</body>

</html>
